<div class = "d-flex flex-column justify-content-center align-items-center" >
    <h1>Mise à jour de post</h1><br>

    <% if @post.user == current_user %>
        <%= render 'form', post: @post %>
    <% end %>
    <div class="form-actions m-2 w-100">
        <a class="btn btn-danger w-100" href = "<%= posts_path %>"> Annuler</a>
    </div>
</div>