<div class="d-flex flex-column justify-content-center align-items-center container">
    <h1>Nouveau Post</h1><br>
    <%= render 'form', post: @post %><br>
</div>
<div class="d-flex flex-column justify-content-center align-items-center form-actions ms-auto">
 <a class="btn btn-danger w-50" href = "<%= posts_path %>"> Annuler</a>
</div>
